[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"
  PRISMA_CLI_BINARY_TARGETS = "rhel-openssl-3.0.x"

[[plugins]]
  package = "@netlify/plugin-nextjs"
